@page
@model WebApp.Pages.LeffaHerkkuModel
@{
    ViewData["Title"] = "Leffa herkut";
}
<div class="text-center">
    <h1>LeffaHerkku</h1>
    <p>GalaxyCinema - Lennokkaat leffa herkut!</p>
    <p>&#127871;&#127853;&#127851;&#127829;&#127789;</p>
</div>
