@page
@model WebApp.Pages.LeffaHerkkuModel
@{
    ViewData["Title"] = "Leffa herkut";
}
<div class="text-center">
    <h1>LeffaHerkku</h1>
    <p>GalaxyCinema - Lennokkaat leffa herkut!</p>
    <!--Emojit-->
    <p>&#127871;&#127853;&#127851;&#127829;&#127789;</p>
    <br>

    <!--Taulukko, jossa leffaherkut ja niiden hinnat.-->
    <table style="border-collapse: collapse; width: 50%; border: 3px solid black; margin: 0 auto;">
        <tr>
            <th style="background-color: rgb(255, 209, 217); border: 1px solid black;">Tuote</th>
            <th style="background-color: rgb(255, 209, 217); border: 1px solid black;">Hinta(€)</th>
        </tr>
        <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">Limu</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">2,50</td>
        </tr>
        <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">Pillimehu</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">1,20</td>
        </tr>
         <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">jäähilejuoma</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">3,00</td>
        </tr>
         <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">Popcorn</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">4,00</td>
        </tr>
         <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">Pizza</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">6,00</td>
        </tr>
         <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">Sipsit</td>
            <td style="background-color: rgb(189, 238, 255); 1px solid black;">4,00</td>
        </tr>
        <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">HotDog</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">5,00</td>
        </tr>
        <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">Suklaa</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">2,50</td>
        </tr>
        <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">Tikkari</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">1,20</td>
        </tr>
        <tr>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">Irtokarkit</td>
            <td style="background-color: rgb(189, 238, 255); border: 1px solid black;">8,90/kg</td>
        </tr>
    </table>
</div>

