@page
@model WEBAPP.pages.LipunostoModel
@{
    ViewData["Title"] = "Lipun osto 🎟️";
}

<!-- Taulukko lippuhinnastosta -->
<table style="width:30%">
<tr>
  <th>Lipputyyppi</th>
  <th>      Hinta</th>
</tr>
<tr>
  <td>Kertalippu</td>
  <td>      12 €</td>
</tr>
<tr>
  <td>Sarjalippu 3x</td>
  <td>      30 €</td>
</tr>
<tr>
  <td>Sarjalippu 10x</td>
  <td>      100 €</td>
</tr>
<tr>
  <td>Perhelippu 1x</td>
  <td>      40 €</td>
</tr>
</table>