@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Tietosuojakäytäntö</h1>
<br>
<p style="color: red;"></pstyle><b>Tämä ei ole virallinen tietosuojarekisteri.</b></p>
<br>
<h4>Rekisterin käyttötarkoitus</h4>
<p>Tämä on harjoitustyönä tehty sivusto kuvitteelliselle elokuvateatterille.</p>

